<header class="c-header" role="banner">
    <div class="c-header__inner">
        <!-- <h1 class="l-header__author">Chris Pearce</h1> -->
        <nav class="c-header__nav" role="navigation" aria-label="Main navigation">
            {% assign pages = site.pages | sort: "weight" %}
            <ul>
                {% for p in pages %}
                    {% assign is_active = nil %}
                    {% if p.url == p.url %}
                        {% assign is_active = "is-active" %}
                    {% endif %}
                    {% unless p.exclude_from_nav %}
                    <li>
                        <a class="{{is_active}}" href="{{p.url}}">
                            {{ p.title }}
                        </a>
                    </li>
                    {% endunless %}
                {% endfor %}
            </ul>
        </nav>
        <p class="c-header__headline">Hello, I’m Chris Pearce, a Front end designer on the product team at Campaign Monitor, based in Sydney, Australia.</p>
    </div>
</header>
