<!doctype html>
<html lang="en-au" class="{{ page.section_id }}">

  <head>

    <meta charset="utf-8">
    <meta
        name="description"
        content="
        {% if page.excerpt %}
            {{ page.excerpt | strip_html | strip_newlines | truncate: 240 }}
        {% else %}
            {{ site.description }}
        {% endif %}"
    >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.url }}/{{ site.assets }}/css/style.css">
    <title>{{ page.title }} — {{ site.title }}</title>

  </head>
