<nav aria-label="Navigate cjpearce.com" class="nav" role="navigation">
    <ul>
        {% assign pages = site.pages | sort: 'order' %}

        {% for item in pages %}

            {% assign is_active = nil %}

            {% if page.section_id == item.section_id %}
                {% assign is_active = 'is-active' %}
            {% endif %}

            <li>
                <a class="{{ is_active }}" href="{{ item.url }}">
                    <span>{{ item.title }}</span>
                </a>
            </li>

        {% endfor %}

    </ul>
</nav>
