// sass --watch style.scss:style.css --style compressed

/**
 * Settings.
 */

/**
 * Colours.
 */

$color-text: #333;

$color-link: brown;

$color-page-background: whitesmoke;

$color-page-about-background: #000;

$color-page-about-text: darkseagreen;

$color-header-text: #fff;

/**
 * Typography.
 */

$font-weight-normal: 400;

$font-weight-bold: 800;

$font-weight-light: 100;

/**
 * Clip paths.
 */

//$clip-path-header-start: 0 0, 100% 0, 0% 100%, 100% 100%;

//$clip-path-header-start: 0% 50%, 0% 50%, 0% 50%, 0% 50%;

$clip-path-header-start: 0 0, 0% 0, 100% 100%, 0 0%;

$clip-path-header-end: 0 0, 100% 0, 100% 100%, 0 100%;

$clip-path-header-complete: 0 0, 100% 0, 100% 100%, 0 92%;



/**
 * Base styles.
 */

html {
    background: $color-page-background;
    box-sizing: border-box;
    color: $color-text;
    font-family: "Taviraj";
    //font-kerning: normal;
    font-size: 1.3em;
    line-height: 1.7;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-weight: $font-weight-normal;
}

a {
    color: $color-link;
    text-decoration: none;
}

p:not(:last-child),
ul:not(:last-child),
ol:not(:last-child) {
    margin-bottom: 1.5em;
}

ul,
ol {
    list-style-position: inside;
}

img {
    max-width: 100%;
    height: auto;
}

strong {
    font-weight: $font-weight-bold;
}


/**
 * Header.
 */

.l-header {
    animation-name: header;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    align-items: baseline;
    background-color: $color-page-about-background;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5em 2.5em;
}

.page-about .l-header {
    align-items: center;
    flex-direction: column;
    padding-bottom: 3.5em;
}

@keyframes header {
    0% {
        -webkit-clip-path: polygon($clip-path-header-start);
    }

    60% {
        -webkit-clip-path: polygon($clip-path-header-start);
    }

    70% {
        -webkit-clip-path: polygon($clip-path-header-end);
    }

    90% {
        -webkit-clip-path: polygon($clip-path-header-end);
    }

    100% {
        -webkit-clip-path: polygon($clip-path-header-complete);
    }
}

.l-header-wrap {
    // animation-name: header-bg;
    // animation-delay: 0.5s;
    // animation-duration: 0.5s;
    // animation-fill-mode: forwards;
    // animation-timing-function: ease;
    //background: linear-gradient(to right, $color-page-about-text, lightseagreen, aquamarine);
    // background: $color-page-about-text;
    // background: url("img/about-gallery/me-and-matilda.jpg") no-repeat 50% 50%;
    // background-size: cover;
    // backdrop-filter: saturate(180%) blur(20px);
    overflow: hidden;
    position: relative;
    -webkit-clip-path: polygon($clip-path-header-complete);

    &::before {
        content: "ABOUT";
        content: "ಠ_ಠ";
        color: $color-page-about-text;
        color: black;
        font-size: 80vh;
        font-size: 10em;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@keyframes header-bg {
    to {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
    }
    to {
        opacity: 0;
    }
}

.l-header__author,
.l-header__nav,
.l-header__headline {
    animation-name: fade-in-header-elements;
    animation-delay: 2s;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    opacity: 0;
    transform: translateY(0.2em);
}

@keyframes fade-in-header-elements {
    from {
        opacity: 0;
        transform: translateY(0.2em);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/**
 * Author.
 */

.l-header__author {
    color: $color-header-text;
}

/**
 * Navigation.
 */

.l-header__nav ul {
    display: flex;
    list-style: none;
    margin-bottom: 0;
}

.l-header__nav li {
    display: flex;

    &:not(:last-child)::after {
        color: $color-header-text;
        content: "\00a0/\00a0";
    }
}

.l-header__nav a {
    color: $color-header-text;
    text-decoration: none;
    transition: color 0.15s ease;

    &:hover,
    &:focus,
    &.is-active {
        color: $color-page-about-text;
    }
}

/**
 * Headline.
 */

.l-header__headline {
    color: $color-page-about-text;
    font-size: 2.2em;
    font-style: italic;
    font-weight: $font-weight-light;
    line-height: 1.3;
    margin-left: auto;
    margin-right: auto;
    max-width: 40ch;
    padding-top: 1.5em;
    text-align: center;
}


/**
 * Main content.
 */

.l-main {
    margin-left: auto;
    margin-right: auto;
    max-width: 54ch;
    padding: 3em 0;
}


/**
 * Personal photo gallery.
 *
 * 1000px = width
 * 531px = left col
 * 464px = right col
 */

.c-photo-gallery {
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3em;
}

.c-photo-gallery__row {
    display: flex;

    &:last-child {
        border-top: 2px solid white;
    }
}

.c-photo-gallery__row > div:not(:last-child) {
    border-right: 2px solid white;
}

.c-photo-gallery img {
    display: block;
}


/**
 * Footer.
 */

// .l-footer {
//     align-items: baseline;
//     display: flex;
//     justify-content: space-between;
//     max-width: 992px;
//     max-width: 54ch;
//     margin-left: auto;
//     margin-right: auto;
//     padding-bottom: 1em;
// }

// .l-footer .l-footer__contact {
//     display: flex;
//     list-style: none;
//     margin-bottom: 0;
// }

// .l-footer__contact li {
//     display: flex;

//     &:not(:last-child)::after {
//         content: "\00a0/\00a0";
//     }
// }

.l-footer {
    background: black;
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    color: white;
    -webkit-clip-path: polygon(0% 0%, 100% 20%,100% 100%,0 100%);
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.c-text-face {
    width: 58px;
    width: 40px;
}

.c-text-face__eyes {
    animation: 25s linear 5s infinite blink;
    transform-origin: 50%;
}

@keyframes blink {
    0% { transform: scaleX(1) scaleY(1); }
    0.25% { transform: scaleX(1.3) scaleY(0.1); }
    0.5% { transform: scaleX(1) scaleY(1); }
    0.75% { transform: scaleX(1) scaleY(1); }

    50% { transform: scaleX(1) scaleY(1); }
    50.25% { transform: scaleX(1.3) scaleY(0.1); }
    50.5% { transform: scaleX(1) scaleY(1); }
    100% { transform: scaleX(1) scaleY(1); }
}