$font-main:             sans-serif;
$font-lede:             Palatino, "Palatino Linotype", "Palatino LT STD",
                        "Book Antiqua", Georgia, serif;
$color-main:            #2F3439;
$color-main-compliment: white;
$color-link:            red;

html {
  color: $color-main;
  font: 1.1em/1.6 $font-main;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body,
html {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background: $color-main;
  color: $color-main-compliment;
  text-shadow: none;
}

::selection {
  background: $color-main;
  color: $color-main-compliment;
  text-shadow: none;
}

a {
  &,
  &:visited {
    border-bottom: 1px solid transparent;
    color: $color-link;
    text-decoration: none;
    transition: all 0.2s;
  }

  &:hover,
  &:focus {
    border-bottom-color: $color-link;
  }
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0 0 1.6em;

  &:last-child {
    margin-bottom: 0;
  }
}

.section-container {
  display: flex;
  height: 100vh;
}

.section {
  padding: 2em;
  width: 40vw;
}

.section--2 {
  width: 20vw;
  background-color: #eee;
  text-shadow: 0 1px 1px darken(#eee, 10%);

  &,
  a {
    color: white;
  }

  a:hover,
  a:focus {
    color: darken(#eee, 14%);
    text-shadow: none;
    border-bottom-color: darken(#eee, 14%);
  }
}

.section--3 {
  border-right: 0;
  box-shadow: none;
  background: black url("me-4-large.jpg") no-repeat 100% 100%;
  background-size: contain;
}