/* ============================================================================
   SETTINGS
   ========================================================================= */

/**
 * CONTENTS:
 *
 * 1. Colours
 */




/* 1. Colours
   ========================================================================= */

/**
 * The number colour scale works like the standard typography numbering
 * system, lower numbers represent lighter shades of the colour, with the
 * higher numbers representing the darker shades. Here's the scale:
 *
 *  50 - The lightiest of lights
 * 100 – Ultra-light.
 * 200 – Extra-light.
 * 300 – Semi-light.
 * 400 – Light.
 * 500 – Normal.
 * 600 – Dark.
 * 700 – Semi-dark.
 * 800 – Extra-dark.
 * 900 – Ultra-dark.
 */


/**
 * Greys.
 */

$g-color-grey-50: #fafafb;

$g-color-grey-100: #f5f6f8;

$g-color-grey-200: #e9ebef;

$g-color-grey-300: #d2d7df;

$g-color-grey-400: #c7cdd6;

$g-color-grey-500: #bcc3ce;

$g-color-grey-600: #a5afbe;

$g-color-grey-700: #8e9aad;

$g-color-grey-800: #717a8a;

$g-color-grey-900: #434d5d;


$color-text: #333;

$color-link: brown;

$color-page-background: whitesmoke;

$color-page-about-background: #000;

$color-page-about-text: darkseagreen;

$color-header-text: #fff;

/**
 * Typography.
 */

$font-weight-normal: 400;

$font-weight-bold: 800;

$font-weight-light: 100;

/**
 * Clip paths.
 */

$clip-path-header-start: 0 0, 0% 0, 100% 100%, 0 0%;

$clip-path-header-end: 0 0, 100% 0, 100% 100%, 0 100%;

$clip-path-header-complete: 0 0, 100% 0, 100% 100%, 0 92%;
