/* ————————————————————————————————————————————————— */
/* ANIMATIONS                                        */
/* ————————————————————————————————————————————————— */

@keyframes main-entrance {
    to {
        transform: none;
    }
}

@keyframes emoji-entrance {
    to {
        left: -1.3em;
        transform: none;
    }
}




/* ————————————————————————————————————————————————— */
/* VARIABLES                                         */
/* ————————————————————————————————————————————————— */

:root {
    /* Typography */
    --typography-font-size: 1.2em;
    --typography-line-length: 60ch;

    /* Spacing */
    --spacing-base: var(--typography-font-size);
    --spacing-small: calc(var(--spacing-base) / 2);

    /* Dimensions */
    --dimensions-nav-width: 20vw;
    --dimensions-nav-width-outdent: calc(var(--dimensions-nav-width) * -1);
    --dimensions-viewport-outdent: -100vw;

    /* Shared */
    --shared-nav-home-customiser-trigger-font-size: calc(var(--typography-font-size) / 1.5);
    --shared-nav-home-customiser-trigger-padding:
        calc(var(--spacing-base) / 1.8)
        calc(var(--spacing-base) / 1.5);

    /* Animations */
    --animation-main-entrance: 0.25s ease 1s forwards main-entrance;
    --animation-emoji-entrance: 0.2s ease 1.3s forwards emoji-entrance;

    /* Colours */
    --colour-text: #333;
    --colour-primary: #0366d6;

    /* Customiser */
    --customiser-themes-dark-ale-bg: #e4e2d4;

    --customiser-themes-pale-ale-bg: #bcdcea;

    --customiser-themes-white-ale-bg: #eaa406;

    --customiser-fonts-system-font: -apple-system,
                                    BlinkMacSystemFont,
                                    'Segoe UI',
                                    Roboto,
                                    Oxygen-Sans,
                                    Ubuntu,
                                    Cantarell,
                                    'Helvetica Neue',
                                    sans-serif
}




/* ————————————————————————————————————————————————— */
/* BASE                                              */
/* ————————————————————————————————————————————————— */

html {
    box-sizing: border-box;
    font-family: Fira Mono;
    font-size: var(--typography-font-size);
    font-variant-ligatures: common-ligatures;
    overflow: hidden;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@supports not (font-variant-ligatures: common-ligatures) {
    html {
        font-feature-settings: 'liga', 'liga', 'clig';
    }
}

body {
    display: grid;
    grid-template-columns: var(--dimensions-nav-width) auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:not(input) {
    border: 0;
    margin: 0;
    padding: 0;
}

a {
    color: var(--colour-primary);
    text-decoration-skip: ink;
    text-underline-position: under;
}

a:focus,
a:hover {
    text-decoration: none;
}

h1 {
    font-size: calc(2 * var(--typography-font-size));
    margin-bottom: var(--spacing-small);
}

h1,
h2,
h3 {
    line-height: 1.4;
}

h2:not(:last-child),
h3:not(:last-child),
p:not(:last-child),
ul:not(:last-child),
ol:not(:last-child) {
   margin-bottom: var(--spacing-base);
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}

[hidden] {
    display: none;
}




/* ————————————————————————————————————————————————— */
/* NAVIGATION                                        */
/* ————————————————————————————————————————————————— */

/**
 * Grid:
 *
 * [.....Nav.....]
 * [Nav][Nav][Nav]
 */

.nav {
    display: grid;

    /* Variables */
    --nav-color-link-background: black;
    --nav-color-link-foreground: white;
    --nav-color-link-home-foreground: black;
}

/* Home page */
.home .nav {
    animation: var(--animation-main-entrance);
    transform: translatex(var(--dimensions-nav-width-outdent));
}

.nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    list-style: none;
}

.nav li {
    display: grid;
    grid-row: 2;
}

/* Home link */
.nav li:first-child {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.nav a {
    align-items: center;
    display: grid;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
}

.nav li:not(:first-child) a {
    background-color: var(--nav-color-link-background);
    color: var(--nav-color-link-foreground);
    font-size: calc(3 * var(--typography-font-size));
    font-weight: 600;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Home link */
.nav li:first-child a {
    color: var(--nav-color-link-home-foreground);
    font-size: var(--shared-nav-home-customiser-trigger-font-size);
    padding: var(--shared-nav-home-customiser-trigger-padding);
}

.nav li:not(:first-child) a:focus,
.nav li:not(:first-child) a:hover,
.nav li:not(:first-child) .is-active {
    background-color: var(--colour-primary);
}

.nav li:first-child a:focus,
.nav li:first-child a:hover {
    color: var(--colour-primary);
}

.nav li:not(:first-child) span {
    writing-mode: vertical-lr;
}




/* ————————————————————————————————————————————————— */
/* MAIN                                              */
/* ————————————————————————————————————————————————— */

main {
    align-items: center;
    display: grid;
    height: 100vh;
    justify-content: center;
    line-height: 1.65;
    overflow-y: auto;
    padding-bottom: var(--spacing-base);
    padding-top: var(--spacing-base);
}

/* Home page */
.home main {
    animation: var(--animation-main-entrance);
    transform: translatex(var(--dimensions-nav-width-outdent));
}

main > div {
    max-width: var(--typography-line-length);
}

/* Home page */
.home main h1 {
    position: relative;
}

.home main h1::before {
    animation: var(--animation-emoji-entrance);
    content: '🤔';
    position: absolute;
    transform: translatex(var(--dimensions-viewport-outdent));
}




/* ————————————————————————————————————————————————— */
/* CUSTOMISER                                        */
/* ————————————————————————————————————————————————— */

.customiser {
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
}

/* Home page */
.home .customiser {
    animation: var(--animation-main-entrance);
    transform: translatex(100%);
}

.customiser__trigger {
    background: none;
    display: block;
    font-size: var(--shared-nav-home-customiser-trigger-font-size);
    padding: var(--shared-nav-home-customiser-trigger-padding);
    outline: 0;
    width: 100%;
}

.customiser__trigger:focus,
.customiser__trigger:hover,
.customiser__trigger.is-active {
    background-color: var(--colour-primary);
    color: white;
}

.customiser__menu {
    padding-right: calc(var(--spacing-base) / 4);
    padding-top: calc(var(--spacing-base) / 4);
}

.customiser__menu-group-heading {
    font-weight: bold;
    margin-bottom: calc(var(--spacing-base) / 6);
}

.customiser__menu-group {
    margin-bottom: calc(var(--spacing-base) / 3);
}

.customiser__menu [role="menuitem"]:not(:last-child) {
    margin-bottom: calc(var(--spacing-base) / 6);
}

.customiser__menu [role="menuitem"]:focus,
.customiser__menu [role="menuitem"]:hover,
.customiser__menu [role="menuitem"].is-active {
    background-color: black;
    color: white;
}




/* ————————————————————————————————————————————————— */
/* HELPERS                                           */
/* ————————————————————————————————————————————————— */

.hide-visually {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}




/* ————————————————————————————————————————————————— */
/* CUSTOMISER                                        */
/* ————————————————————————————————————————————————— */

/* Root */
.dark-ale {
    background-color: var(--customiser-themes-dark-ale-bg);
}

.pale-ale {
    background-color: var(--customiser-themes-pale-ale-bg);
}

.white-ale {
    background-color: var(--customiser-themes-white-ale-bg);
}

.system-font {
    font-family: var(--customiser-fonts-system-font);
}

/* Nav links */
/* .dark-ale .nav {
    background-color: var(--customiser-themes-dark-ale-bg2);
}

.pale-ale .nav {
    background-color: var(--customiser-themes-pale-ale-bg2);
}

.white-ale .nav {
    background-color: var(--customiser-themes-white-ale-bg2);
} */

/* Emoji */
.home.dark-ale main h1::before {
    content: '😀';
}

.home.pale-ale main h1::before {
    content: '😜';
}

.home.white-ale main h1::before {
    content: '🤗';
}
