main {
    align-items: center;
    display: grid;
    height: 100vh;
    justify-content: center;
    line-height: 1.65;
    overflow-y: auto;
    padding-bottom: var(--spacing-base);
    padding-top: var(--spacing-base);
}

/* Home page */
.home main {
    animation: var(--animation-main-entrance);
    transform: translatex(var(--dimensions-nav-width-outdent));
}

main > div {
    max-width: var(--typography-line-length);
}

/* Home page */
.home main h1 {
    position: relative;
}

.home main h1::before {
    animation: var(--animation-emoji-entrance);
    content: '🤔';
    position: absolute;
    transform: translatex(var(--dimensions-viewport-outdent));
}
